.viewer-item {
  border: 1px solid #000;
  border-left: unset;
  border-top: unset;
  position: relative;

  &::after {
    content: "";
    display: block;
    padding-bottom: 133.3333%;
    width: 100%;
  }

  &__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding-left: 4.8rem;
    padding-bottom: 1.8rem;
  }
}
