.file-drop-zone {
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.file-upload {
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0;
}

.file-drop-zone.dragging {
  background-color: #8ace00;
}

.file-drop-zone.selected {
  display: none;
}
