<label
  class="file-drop-zone"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [class.dragging]="isDragging"
  [class.selected]="!!selectedFile"
>
  <input
    type="file"
    (change)="onFileSelected($event)"
    hidden
    accept=".glb,.gltf,.obj,.fbx"
    #fileInput
  />
</label>

<div class="file-upload">
  <input type="text" placeholder="Model Name" [(ngModel)]="name" />
  <input type="text" placeholder="Author" [(ngModel)]="author" />
  <button (click)="onSubmit()">Отправить</button>
</div>

<div *ngIf="fileSelected">
  <h4>{{ fileSelected.name }}</h4>
</div>
